@model List<LanguageNetwork.Models.Question.Question>
@{
    Layout = "~/Views/Shared/LayoutPar.cshtml";
}
<head>
    <link href="~/css/css/main_page.css" rel="stylesheet" />
    <script src="~/js/js_login/jquery.min.js"></script>
    <link href="~/css/css/radiotoggle.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
    <script src="~/js/Ask.js"></script>
    <script src="~/tag/dist/bootstrap-tagsinput.js"></script>
    <link href="~/tag/dist/bootstrap-tagsinput.css" rel="stylesheet" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
    <link href="~/css/css/ask.css" rel="stylesheet" />
    <script src="~/js/Ask.js"></script>
</head>


<div class="col-md-2 presidebarleft"></div>
<div class="col-md-2 sidebarleft">
    <ol>
        <li class="lisidebar activesidebar">
            <a class="asidebar activesidebar_v1">Home</a>
        </li>
        <li class="lisidebar">
            <p class="asidebar">PUBLIC</p>
            <ol class="mt-2 olsidebar">
                <li class="lisubsidebar liquestion">
                    <i class="far fa-globe-asia"></i>
                    <span class="spanquestions">Questions</span>
                </li>
                <li class="lisubsidebar mt-2">
                    <span class="spanlisub">Tags</span>
                </li>

                <li class="lisubsidebar mt-2">
                    <span class="spanlisub">Users</span>
                </li>
            </ol>
        </li>
        <li class="lisidebar">
            <a class="asidebar">FIND A JOB</a>
            <ol class="mt-2">
                <li class="lisubsidebar mt-2">
                    Jobs
                </li>

                <li class="lisubsidebar mt-2">
                    Companies
                </li>
            </ol>
        </li>
        <li class="lisidebar">
            <a class="asidebar"><span>Groups</span></a>
        </li>

        @*statiscal*@
    </ol>
    <ol class="olstatistic">
        <li class="w-50 listatistic listatisticquestion">
            <a class="astatistic"><span class="txtquestion">Questions</span></a>
            <a class="astatistic"><span class="numquestion">31</span></a>
        </li>
        <li class="w-50 listatistic listatisticanswers">
            <a class="astatistic"><span class="txtanswer">Questions</span></a>
            <a class="astatistic"><span class="numanswer">31</span></a>
        </li>
    </ol>
    <ol class="olstatistic">
        <li class="w-50 listatistic listatisticbestanswer">
            <a class="astatistic"><span class="txtbestanswer">Best Answers</span></a>
            <a class="astatistic"><span class="numbestanswer">31</span></a>
        </li>
        <li class="w-50 listatistic listuser">
            <a class="astatistic"><span class="txtuser">Users</span></a>
            <a class="astatistic"><span class="numuser">31</span></a>
        </li>
    </ol>

</div>

<div class="col-md-5 centerlayout">
    <div class="row">
        <div class="col-md-5 divtopquestion"><span class="topquestion">Top Questions</span></div>
        <div class="col-md-7 divbuttonask">
            <button class="btnAsk" data-toggle="modal" data-target="#myModal"><span>Ask Question</span></button>
        </div>
    </div>
    <div class="row">
        <div class="switch-field">
            <input type="radio" id="radio-seven" name="switch-two" value="no" />
            <label for="radio-seven" class="labelfilter lbl1" onclick="Setactive(1)"><span>Month</span></label>
            <input type="radio" id="radio-six" name="switch-two" value="no" />
            <label for="radio-six" class="labelfilter lbl2" onclick="Setactive(2)"><span>Week</span></label>
            <input type="radio" id="radio-five" name="switch-two" value="no" />
            <label for="radio-five" class="labelfilter lbl3" onclick="Setactive(3)"><span>Hot</span></label>
            <input type="radio" id="radio-four" name="switch-two" value="maybe" />
            <label for="radio-four" class="labelfilter lbl4" onclick="Setactive(4)"><span>Bountied</span></label>
            <input type="radio" id="radio-three" name="switch-two" value="yes" checked />
            <label for="radio-three" class="labelfilter lbl5 labelactive" onclick="Setactive(5)"><span>Interesting</span></label>
        </div>

    </div>
    <div class="row">
        <br />
    </div>
    @foreach (var item in Model)
    {
        <div class="row mainpost mt-1">
            <div class="col-md-1 avatardiv">
                <img src="@item.User.ProfileImg" class="avatar" />
            </div>

            <div class="col-md-10 maininfoquestion">
                <div class="row">
                    <a class="col-md-3 user"> @item.User.UserName</a>
                    <div class="col-md-6 datetimespan" style="">@item.QuestionTimeAbout</div>
                    <div class="col-md-3 " style="color:#bbc0c4;cursor:pointer"></div>
                </div>
                <div class="row rowtitle">
                    <h3 class="col-md-12 user">
                        <a class="aquestion">@item.QuestionTitle</a>
                    </h3>
                </div>
                <div class="row divinfo">
                    @foreach (var i in item.listTag)
                    {
                        <a href="#" class="post-tag" title="" rel="tag" id="@i.TagID">@i.TagText</a>
                    }
                    <a class="info infoview" title="Views: 2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                        </svg>
                        <span>@item.View</span>
                    </a>

                    <a class="info infovote" title="Votes: 2">
                        <i class="fad fa-person-booth"></i>
                        <span>@item.Vote</span>
                    </a>

                    <a class="info infocomment" title="Comments: 1">
                        <i class="fal fa-comments"></i>
                        <span>@item.Comment</span>
                    </a>

                    <a class="info info_v1" title="Likes : 0">
                        <i class="fas fa-thumbs-up "></i>
                        <span class="">@item.Like</span>
                    </a>

                </div>
            </div>
            <div class="col-md-1 divlikequest">
            </div>
        </div>
        <hr class="new1" />
    }
    @*<a href="#" class="post-tag" title="" rel="tag">merge</a>*@
</div>
<!--side bar right-->
<div class="col-md-2 mt-2 sidebarright">

    <div class="lisiderighthead">  <span class="spanblog">The Blog</span> </div>



    <div class="lisiderighthead_v1"><i class="fas fa-pen"></i><a class="shortlinksideright">Lên cấp: Mã hóa sáng tạo với p5.js - phần 7</a></div>
    <div class="lisiderighthead_v1"><i class="fas fa-pen"></i><a class="shortlinksideright">Lên cấp: Mã hóa sáng tạo với p5.js - phần 7</a></div>




    <div class="lisiderighthead">  <span class="spanblog">Featured on Meta</span> </div>
    <div class="lisiderighthead_v1"><i class="fas fa-pen"></i><span>Lên cấp: Mã hóa sáng tạo với p5.js - phần 7</span></div>
    <div></div>



    <div class="lisiderighthead">  <span class="spanblog">The Blog</span> </div>
    <div></div>
    <div></div>


</div>
<div class="col-md-1 aftersiderightbar"></div>
<div class="modal fade" id="myModal" role="dialog">
    @Html.Partial("Ask.cshtml")
</div>

<script src="~/js/main_page.js"></script>
<script src="~/js/tooltipSetting.js"></script>
<script type="text/javascript">
    document.getElementById("wmd-image-button").addEventListener("click", function () {
        alert(1);
    });
    $('#taginput').change(function () {
        debugger
        if ($('.bootstrap-tagsinput').find('span').length >= 2 && $('.bootstrap-tagsinput').find('span').length <= 10) {

        }
        else if ($('.bootstrap-tagsinput').find('span').length > 10) {
            $('.bootstrap-tagsinput').find('span').last().remove();
            $('.bootstrap-tagsinput').find('span.tag.label.label-info').last().remove();
            ErrorMessage('Do not enter more than 5 tags');
        }
        else {

            /* ErrorMessage('error');*/
        }
        $('.bootstrap-tagsinput').find('input').attr('placeholder', '');
    });
</script>